.employee-card-container{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    padding: 1rem;
    gap: 1rem;
    margin-bottom: 1rem;
    border-radius: 0.625rem;
    box-shadow: 0 0 2px 2px #c3c0c0;
}

.employee-card-container>button{
    padding: 0.3rem 1rem;
    border-radius: 0.625rem;
    cursor: pointer;
    color: #ffffff;
    background-color: #0000ff;
    width: 80%;
    align-self: center;
}

@media screen and (max-width: 472.5px){
    .employee-card-container>button{
        width: 100%;
    }
}