.footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 7%;
    background-color: rgb(243 244 246);
}
.menus ul{
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    gap: 40px;
    margin-top: 3%;
}
.footer h3{
   
    margin-bottom: 30px;
}
.footer p{
    margin-bottom: 30px;
    line-height: 1.5;
}
.logos{
    margin-top: 3%;
}
.logos ul{
    list-style: none;
    display: flex;
    justify-content:center;
    align-items: center;
    gap: 25px;
    font-size: 20px;
}

@media screen and (max-width:450px) {
    .menus ul{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        list-style: none;
        gap: 40px;
        margin-top: 3%;
    }
    .footer{
        width: 100%;
    }
}