*{
    font-family: sans-serif;
}

.mainCard{
    width: 450px;
    height: 215px;
    /* border: 3px solid pink; */
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
    border-radius: 15px;
    margin-bottom: 2%;
}
.upper{
    width: 100%;
    height: 60%;
    /* border: 2px solid red; */
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 6px;
    border-radius: 15px;
}
.lower{
    width: 100%;
    height: 40%;
    /* border: 1px solid blue; */
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: rgb(243 244 246);
    border-radius: 15px;
}
.lower a{
    text-decoration: none;
    color: rgb(59 130 246);
}
.lower h3{
    color: rgb(34 197 94);
}
.add{
    color: rgb(75 85 99);
}
.upper .head{
    color: rgb(31 41 55);
    font-size: 1.25rem;
}
.type{
    font-size: 18px;
    font-weight: 200;
}

@media screen and(max-width:455px) {
    .mainCard{
        width: 320px;
        height: 215px;
        /* border: 3px solid pink; */
        box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
        border-radius: 15px;
    }
    
}