.mainDiv{
    width:30%;
   
    margin: 5% auto;
   box-shadow: 0 0 10px rgb(124, 124, 231);
    text-align: center;
    background-color: rgb(247, 236, 253);
}
.input{
    margin-bottom: 5%;
}
.input input{
    height: 35px;
    width: 250px;
}
.input button{
    padding: 10px 20px;
    background-color: rgb(232, 112, 239);
    border: none;
    color: white;
    border-radius: 6px;
    font-size: 16px;
}

@media screen and (max-width:480px){
    .mainDiv{
        width:300px;
      
        margin: 5% auto;
        border: 2px solid red;
        text-align: center;
    }
    .input input{
        height: 35px;
        width: 60%;
    }
}